@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap");

:root {
    --blue: #233C80;
    --yellow: #FDD318;
    --gradient: linear-gradient(50deg, var(--blue), var(--yellow));
}

* {

    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
}

*::selection {
    background: var(--yellow);
    color: #fff;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: #f9f9f9;
}

section {
    min-height: 100vh;
    padding: 0 9%;
    padding-top: 7.5rem;
    padding-bottom: 2rem;
}

.btn {
    display: inline-block;
    margin-top: 2rem;
    padding: 0.8rem 3rem;
    background: var(--gradient);
    font-size: 1.7rem;
    color: #fff;
    cursor: pointer;
    box-shadow: 0 0.5rem 1rem rgba(227, 197, 28, 0.1);
    transition: all 0.3s linear;
}

.btn:hover {
    transform: scale(1.1);
}

.heading {
    text-align: center;
    background: var(--gradient);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 3.5rem;
    text-transform: uppercase;
    padding: 1rem;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

header .logo {
    font-size: 2rem;
    color: var(--blue);
}

header .logo span {
    color: var(--yellow);
}

header .navbar a {
    font-size: 1.7rem;
    margin-left: 2rem;
    color: var(--blue);
}

header .navbar a:hover {
    color: var(--yellow);
}

header input {
    display: none;
}

header label {
    font-size: 3rem;
    color: var(--blue);
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
}

.home {
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../images/home-bg-img.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.home .image img {
    width: 40vw;
    animation: float 3s linear infinite;
}

@keyframes float {
    0%,
    100% {
        transform: translateY(0rem);
    }
    50% {
        transform: translateY(-3.5rem);
    }
}

.home .content h3 {
    font-size: 5.5rem;
    color: #333;
    text-transform: uppercase;
}

.home .content h3 span {
    color: var(--yellow);
    text-transform: uppercase;
}

.home .content p {
    font-size: 1.7rem;
    color: #666;
    padding: 1rem 0;
}

.service .box-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.service .box-container .box {
    flex: 1 1 30rem;
    background: #fff;
    border-radius: 0.5rem;
    border: 0.1rem solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    margin: 1.5rem;
    padding: 3rem 2rem;
    border-radius: 0.5rem;
    text-align: center;
    transition: 0.2s linear;
}

.service .box-container .box img {
    height: 15rem;
}

.service .box-container .box h3 {
    font-size: 2rem;
    color: #333;
    padding-top: 1rem;
}

.service .box-container .box p {
    font-size: 1.3rem;
    color: #666;
    padding: 1rem 0;
}

.about {
    background: url(../images/about-bg.png) no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 3rem;
}

.about .column {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.about .column .image {
    flex: 1 1 40rem;
}

.about .column .image img {
    width: 100%;
}

.about .column .content {
    flex: 1 1 40rem;
}

.about .column .content h3 {
    font-size: 3rem;
    color: #666;
}

.about .column .content p {
    font-size: 1.5rem;
    color: #666;
    padding: 1rem 0;
}

.about .column .content .buttons a:last-child {
    margin-left: 2rem;
}

.newsletter {
    text-align: center;
    padding: 5rem 1rem;
    background: url(../images/subscribe-bg.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.newsletter h3 {
    color: #fff;
    font-size: 3rem;
    text-transform: uppercase;
}

.newsletter p {
    color: #fff;
    font-size: 1.6rem;
    margin: 2rem auto;
    width: 70rem;
}

.newsletter form {
    display: flex;
    max-width: 70rem;
    border: 0.2rem solid #fff;
    padding: 0.5rem;
    border-radius: 5rem;
    margin: 2rem auto;
    height: 5.5rem;
}

.newsletter form input[type="email"] {
    padding: 0 2rem;
    font-size: 1.7rem;
    background: none;
    width: 100%;
    color: #fff;
    text-transform: none;
    background: none;
}

.newsletter form input[type="email"]::placeholder {
    color: #eee;
    text-transform: capitalize;
}

.newsletter form input[type="submit"] {
    background: #fff;
    width: 20rem;
    font-size: 1.7rem;
    border-radius: 5rem;
    cursor: pointer;
}

.newsletter form input[type="submit"]:hover {
    color: var(--yellow);
}

.review .box-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.review .box-container .box {
    background: #fff;
    margin: 1rem;
    padding: 1rem;
    text-align: center;
    position: relative;
    border: 0.1rem solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    flex: 1 1 30rem;
    border-radius: 0.5rem;
}

.review .box-container .box .fa-quote-right {
    position: absolute;
    top: 1rem;
    right: 2rem;
    font-size: 8rem;
    color: var(--yellow);
    opacity: 0.3;
}

.review .box-container .box .user img {
    border-radius: 50%;
    object-fit: cover;
    height: 7rem;
    width: 7rem;
    margin-top: 2rem;
}

.review .box-container .box .user h3 {
    color: var(--yellow);
    font-size: 2rem;
}

.review .box-container .box .user .stars i {
    color: var(--blue);
    font-size: 1.5rem;
    padding: 1rem 0;
}

.review .box-container .box .comment {
    color: #666;
    font-size: 1.4rem;
    padding: 1rem;
}

.order .box-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.order .box-container .box {
    flex: 1 1 27rem;
    margin: 1rem;
    padding: 1rem;
    background: #fff;
    border: 0.1rem solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    text-align: center;
    padding-bottom: 3rem;
}

.order .box-container .box:nth-child(2),
.order .box-container .box:hover {
    border: 0.2rem solid var(--yellow);
}

.order .box-container .box .title {
    color: var(--blue);
    font-size: 2.5rem;
    padding-top: 1rem;
}

.order .box-container .box .type {
    font-size: 4rem;
    color: var(--yellow);
    padding: 1rem 0;
}

.order .box-container .box .type span {
    font-size: 2rem;
}

.order .box-container .box ul {
    padding: 1rem 0;
    list-style: none;
}

.order .box-container .box ul li {
    font-size: 1.7rem;
    color: #666;
    padding: 0.5rem 0;
}

.order .box-container .box ul li .fa-check {
    color: lightgreen;
}

.order .box-container .box ul li .fa-times {
    color: tomato;
}

.ambilpaket {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 4rem;
}

.ambilpaket .image {
    flex: 1 1 40rem;
}

.ambilpaket .image img {
    width: 100%;
    padding: 2rem;
}

.ambilpaket form {
    flex: 1 1 40rem;
    padding: 2rem 3rem;
    border: 0.1rem solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    background: #fff;
}

.ambilpaket form .heading {
    text-align: left;
    padding: 0;
    padding-bottom: 2rem;
}

.ambilpaket form .inputBox {
    position: relative;
}

.ambilpaket form .inputBox input,
.ambilpaket form .inputBox textarea {
    width: 100%;
    background: none;
    color: #666;
    margin: 1.5rem 0;
    padding: 0.5rem 0;
    font-size: 1.7rem;
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.1);
    text-transform: none;
}

.ambilpaket form .inputBox textarea {
    resize: none;
    height: 13rem;
}

.ambilpaket form .inputBox label {
    position: absolute;
    top: 1.7rem;
    left: 0;
    font-size: 1.7rem;
    color: #666;
    transition: 0.2s linear;
}

.ambilpaket form .inputBox input:focus ~ label,
.ambilpaket form .inputBox input:valid ~ label,
.ambilpaket form .inputBox textarea:focus ~ label,
.ambilpaket form .inputBox textarea:valid ~ label {
    top: -0.5rem;
    font-size: 1.5rem;
    color: var(--yellow);
}

.footer {
    padding-top: 3rem;
    background: url(../images/footer-bg.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.footer .box-container {
    display: flex;
    flex-wrap: wrap;
}

.footer .box-container .box {
    flex: 1 1 25rem;
    margin: 2rem;
}

.footer .box-container .box h3 {
    font-size: 2.5rem;
    padding: 1rem 0;
    color: #fff;
    text-decoration: underline;
    text-underline-offset: 1rem;
}

.footer .box-container .box p {
    font-size: 1.5rem;
    padding: 0.5rem 0;
    color: #eee;
}

.footer .box-container .box a {
    display: block;
    font-size: 1.5rem;
    padding: 0.5rem 0;
    color: #eee;
}

.footer .box-container .box a:hover {
    text-decoration: underline;
}

.footer .box-container .box .info {
    display: flex;
    align-items: center;
}

.footer .box-container .box .info i {
    margin: 0.5rem 0;
    margin-right: 1rem;
    border-radius: 50%;
    background: #fff;
    color: var(--yellow);
    font-size: 1.5rem;
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    text-align: center;
}

.footer .credit {
    font-size: 2rem;
    font-weight: normal;
    letter-spacing: 0.1rem;
    color: rgb(0, 0, 0);
    border-top: 0.1rem solid #fff5;
    padding: 2.5rem 1rem;
    text-align: center;
}

/* media queries  */

@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 991px) {
    section {
        padding: 0 3%;
        padding-top: 7.5rem;
        padding-bottom: 2rem;
    }
}

@media (max-width: 768px) {
    header label {
        visibility: visible;
        opacity: 1;
    }

    header .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: #fff;
        padding: 1rem 2rem;
        border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
        transform-origin: top;
        transform: scaleY(0);
        opacity: 0;
        transition: 0.2s linear;
    }

    header .navbar a {
        display: block;
        margin: 2rem 0;
        font-size: 2rem;
    }

    header input:checked ~ .navbar {
        transform: scaleY(1);
        opacity: 1;
    }

    header input:checked ~ label::before {
        content: "\f00d";
    }

    .home {
        flex-flow: column-reverse;
    }

    .home .image img {
        width: 100%;
    }

    .home .content h3 {
        font-size: 3.6rem;
    }

    .home .content p {
        font-size: 1.5rem;
    }

    .about {
        background-position: right;
    }

    .newsletter p {
        width: auto;
    }
}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }

    .about .column .content .buttons a {
        width: 100%;
        text-align: center;
    }

    .about .column .content .buttons a:last-child {
        margin: 1rem 0;
    }
}
